/* banner slider section */

.hero-slider {
  background: #f9f3ec;
  position: relative;
  overflow: hidden;
  height: 750px;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0 auto;
  padding: 0 20px;
}

.slide.active {
  display: flex;
}

.slide-image {
  width: 550px;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  width: 500px;
}
.slide-content h1 {
  font-size: 65px;
  color: #41403e;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
}

.btn-shop {
  display: inline-block;
  padding: 22px 45px;
  border: 1px solid #41403e;
  color: #41403e;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

.btn-shop:hover {
  background: #41403e;
  color: white;
}

.slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #41403e;
  cursor: pointer;
  background: transparent;
}

.dot.active {
  background: #41403e;
}

/* categories section  */

.categories {
  padding: 80px 0;
}

.categories-container {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.category-item svg {
  width: 100px;
  height: 100px;
  color: #dead6f;
  transition: all 0.3s ease-in;
}

.category-item span {
  font-size: 18px;
  color: #41403e;
}

.category-item:hover svg {
  color: #c9a96e;
}

.category-item:hover span {
  color: #41403e;
}

/* hoodie section */

.products-section {
  max-width: 1420px;
  margin: 60px auto;
  padding: 0 20px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 60px;
}

.products-header h2 {
  font-size: 36px;
  font-weight: 400;
  color: #41403e;
}

.products-slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products-slider {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
}

.products-slider::-webkit-scrollbar {
  display: none;
}

.navigation {
  width: 50px;
  height: 50px;
  border: 1px solid #41403e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  color: #41403e;
  font-size: 18px;
  transition: all 0.1s ease-in;
  align-self: flex-start;
  margin-top: 140px;
}

.navigation:hover {
  background: #41403e;
  color: white;
}

.product-card {
  width: 300px;
  flex-shrink: 0;
}

.product-image {
  position: relative;
  background: #f0ede8;
  border-radius: 12px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  font-weight: 500;
  color: #41403e;
  margin-bottom: 6px;
}

.product-stars {
  color: #dead6f;
  font-size: 18px;
  margin-bottom: 6px;
}

.product-stars span {
  color: #dead6f;
}

.product-price {
  color: #dead6f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.btn-cart {
  padding: 12px 24px;
  border: 1px solid #41403e;
  background: white;
  color: #41403e;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.1s ease-in;
}

.btn-cart:hover {
  background: #41403e;
  color: white;
}


/* food section  */

.products-section.food {
  max-width: 1300px;
  margin-top: 150px;
}

.products-header.food {
  padding: 0 5px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
}